<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <div class="col-md-3 mb-2 mb-md-0">
            <a routerLink="/" class="d-inline-flex link-body-emphasis text-decoration-none">FreightPlatform</a>
        </div>
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            @if(user$ | async; as user) {
                @if(user.role === 'CARRIER') {   
                    <li>
                        <a routerLink="loads/open" class="nav-link px-2">Open loads</a>
                    </li>
                    <li>
                        <a routerLink="applications/my-applications" class="nav-link px-2">My applications</a>
                    </li>
                    <li>
                        <a routerLink="assignments/my-assignments" class="nav-link px-2">My assignments</a>
                    </li>
                }
                @else if(user.role === 'SHIPPER') {
                    <li>
                        <a routerLink="loads/my" class="nav-link px-2">My loads</a>
                    </li>
                    <li>
                        <a routerLink="loads/create" class="nav-link px-2">Create load</a>
                    </li>
                }
                @else if(user.role === 'ADMIN') {
                    <li>
                        <a routerLink="admin/dashboard" class="nav-link px-2">Dashboard</a>
                    </li>
                    <li>
                        <a routerLink="admin/users" class="nav-link px-2">Users</a>
                    </li>
                    <li>
                        <a routerLink="admin/loads" class="nav-link px-2">Loads</a>
                    </li>
                    <li>
                        <a routerLink="admin/applications" class="nav-link px-2">Applications</a>
                    </li>
                    <li>
                        <a routerLink="admin/assignments" class="nav-link px-2">Assignments</a>
                    </li>
                }
                @else {
                    
                }
            }
            @else {

            }
        </ul>
        <div class="col-md-3 text-end">
            @if((isLoggedIn$ | async) !== true) {
                <a routerLink="auth/login" class="btn btn-outline-primary me-2">Login</a>
                <a routerLink="auth/register" class="btn btn-primary">Register</a>
            }
            @else {
                <a (click)="logout()" class="btn btn-primary">Logout</a>
            }
        </div>
    </header>
</div>
