<mat-card class="admin-user-material-card h-100 d-flex flex-column mat-elevation-z2">
    <mat-card-header class="p-3 pb-2 d-flex justify-content-between align-items-center w-100">
        <mat-card-title class="fs-5 font-weight-medium text-dark m-0 text-truncate" style="max-width: 65%;">
        {{ user.companyName || 'Personal account' }}
        </mat-card-title>
        
        <span class="admin-role-badge" [ngClass]="user.role!.toLowerCase()">
        {{ user.role }}
        </span>
    </mat-card-header>
    <mat-card-content class="flex-grow-1 px-3 pb-2">
        <mat-divider class="mb-3"></mat-divider>
        
        <div class="user-info-list text-muted">
            <div class="d-flex align-items-center mb-2">
                <mat-icon class="me-2 fs-5 text-secondary">email</mat-icon>
                <span class="text-truncate"><strong>Email:</strong> {{ user.email }}</span>
            </div>

            <div class="d-flex align-items-center mb-2">
                <mat-icon class="me-2 fs-5 text-secondary">phone</mat-icon>
                <span><strong>Phone:</strong> {{ user.phoneNumber }}</span>
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions class="p-3 pt-0 mt-auto w-100 border-top-light">
        <button mat-flat-button color="warn" class="w-100 py-3 btn-delete-user" (click)="onDelete()">
            <mat-icon>delete</mat-icon> Delete user
        </button>
    </mat-card-actions>
</mat-card>
