<div class="d-flex justify-content-center align-items-center mt-4 mb-4 gap-1 flex-wrap">
    <button mat-stroked-button color="primary" class="nav-page-btn" [disabled]="page === 1" (click)="change(page - 1)">
        <mat-icon class="me-1">chevron_left</mat-icon>Previous
    </button>

    @for(p of pages; track p) {
        @if(p !== '...' && typeof p === 'number') {
            <button mat-icon-button [color]="page === p ? 'primary' : ''" [class.active-page-btn]="page === p" class="number-page-btn" (click)="change(p)">
                {{ p }}
            </button>
        }
        @else {
            <span class="pagination-dots text-muted px-2">...</span>
        }
    }
    <button mat-stroked-button color="primary" class="nav-page-btn" [disabled]="page === lastPage" (click)="change(page + 1)">
        Next<mat-icon class="ms-1">chevron_right</mat-icon>
    </button>
</div>
